body {
    padding-top: 0rem;
    
}
#result {
    margin-top: 100px;
}

#lista, li{
    list-style: none;
    padding: 1.5rem;
}

#lista,
img {
    width: 60px;
    height: 60px;
    display: table-row;
}

li a {
    text-decoration: none; 
}

a:hover {
    color: #818181!important;
}

@keyframes anim {
    from {
        color: white;
    }
    to {
        color: grey;
    }
}

#info {
    text-align: center;
    animation-name: anim;
    animation-duration: 16s;
    animation-iteration-count: infinite;
}
/* The Modal (background) */

.modal {
    height: 25%;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    
}
/* Modal Content */

.modal-content {
    background-color: #343a40!important;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    height: 60%;
}
/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

canvas {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

audio {
    opacity: 0%;
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}
